<nav>
  <ul>
    <li class="title"><a href="#">Premiership</a>
      <ul id="main-menu">
        <li>
          <a (click)=setClub(1)>Liverpool</a>
          <a (click)=setClub(2)>Manchester United</a>
          <a (click)=setClub(3)>Arsenal</a>
        </li>
      </ul>
    </li>
    <li class="title"><a href="#">Championship</a>
      <ul id="main-menu2">
        <li>
          <a (click)=setClub(4)>Sheffield Wednesday</a>
          <a (click)=setClub(5)>Sheffield United</a>
        </li>
      </ul>
    </li>
    <li class="title"><a href="#">Parkrun</a>
      <ul id="main-menu3">
        <li>
          <a class="router-link" [routerLink]="['/parkrun']">Cheshire</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div id="stadium">
<!-- <app-stadium></app-stadium> -->
<router-outlet></router-outlet>
</div>